* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
} /* Reset*/

body {
  font-family: OpenSans;
  line-height: 1.8;
  letter-spacing: 1px;
}

.navbar {
  border-radius: 0;
}

.navbar-inverse .navbar-nav>li>a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 12px;
}

.navbar-inverse {
  background-color: #595959;
}

.selected { border-bottom: 0.4rem solid #ff8d00; }

.selected a { color: #ff8d00; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /*Smartphones*/
  
  .welcome { margin-left: 2rem; }

  .activity {
    background-color: #343434;
    width: 80%;
    height: 180px;    
    color: #bcbcb7;
    margin-left: 4.5rem;    
    margin-top: 2rem;
  } 

  .activities {
    margin-top: 5rem;
  }
  
  .jumbotron { 
    margin: 5rem 5rem;
    padding-top: 2rem;
    color: #fff;
  }

  .btn {
    position: relative;
    left: 25rem;
    bottom: 5rem;
    border-radius: 0;
    border: 0;
  }

  hr {
    margin-top: 0;
  }

  .description { margin: 2rem 2.5rem; }

  .task-description {
    height: 350px;
    background-color: #595959;
    margin-top: 2rem;
  }

  .jumbotron .time {
    margin-top: 0;
    font-weight: bolder;
    color: #272727;
    margin-left: 3rem;
  }

  .panel {
    right: 1.5rem;
    position: relative;
    width: 33rem;
    border: 0;
  }

  .panel-success>.panel-heading {
    background-color: #06b16f;
    color: #fff;
    border-radius: 0;
    border: 0;
    padding: 0;
  }

  .icon { padding-right: 3rem; }

  small { font-size: 100%; }

  .data .comments { font-size: 10px; }

  .svg-container {
    height: 0;
    width: 100%;
    padding-top: 10rem;
    position: relative;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /*tablets*/
  * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
  }

  body {
    font-family: OpenSans;
    line-height: 1.8;
    letter-spacing: 1px;
  }
  
  .welcome { margin-left: 2rem; }

  .activity {
    color: #bcbcb7;
    background-color: #343434;
    width: 220px;
    height: 200px;    
    margin-left: 1rem;    
  }

  .jumbotron {
    margin: 2rem 5rem;    
  }

  .jumbotron .time {
    padding-left: 3rem;
    color: #272727;    
  }
  
  .view { margin-bottom: -5rem; }

  .btn {
    position: relative;
    bottom: 5rem;
    left: 80rem;
  }
  .value { margin-right: 15rem; }
  
  .task-description {
    color: #fff;    
    height: 400px;
    background-color: #595959;
    margin: 2rem 1.51rem;
  }

  .panel {
    right: 1.5rem;
    position: relative;
    width: 15.29rem;
    border: 0;
  }

  .panel-heading {
    padding: 0;
    border: 0;
  }

  .panel-success>.panel-heading {
    background-color: #06b16f;
    color: #fff;
    border-radius: 0;
    border: 0;
    padding: 0;
  }

  .data .comments { font-size: 10px; }
}

@media only screen and (min-width:1024px) {
  /*desktops*/
  .container {
    margin: 0 9rem;
  }

  .activity {
    background-color: #343434;
    height: 190px;
    color: #bcbcb7;
    margin-left: 2rem;
  }

  .welcome { margin-left: 9rem; }

  .activities {
    margin-top: 5rem;
  }

  .value { text-align: center; }

  .jumbotron { 
    margin: 6rem 7rem;
    padding-top: 1rem;
    color: #fff;
  }

  .jumbotron .time {
    margin-top: 0;
    font-weight: bolder;
    color: #272727;
    margin-left: 3rem;
  }

  .jumbotron .icon { 
    padding: 0.5rem;
    margin: 0 1.4rem;
    font-size: 1rem;
  }

  .btn {
    position: absolute;
    top: 0.4rem;
    right: 5rem;
    height: 30px;
    width: 100px;
    border-radius: 0;
    border: 0;
  }

  .panel {
    right: 1.5rem;
    position: relative;
    width: 20.6rem;
    border: 0;
  }

  .panel-heading {
    border-radius: 0;
    border: 0;
    background-color: #039afc;
    padding: 0;
  }

  .panel-success>.panel-heading {
    background-color: #06b16f;
    color: #fff;
    border-radius: 0;
    border: 0;
    padding: 0;
  }

  .description { margin-top: 2rem; }

  .task-description {
    height: 300px;
    background-color: #595959;
    margin-left: 3rem;
  }

  h5 small {
    font-weight: 200;
    color: #fff;
  }

  address small {
    font-size: 10px;
  }

  hr {
    margin: 0;
    border-top: 1px stroke-dasharray #fff;
  }

  .data .comments {
    font-size: 8px;
  }

  .chart {
    margin-top: 5rem;
  }

  .graph .grid {
    stroke: #ccc;
    stroke-dasharray: 0;
    stroke-width: 1;
  }

  .graph .labels.x-labels {
    text-anchor: middle;
  }

  .graph .labels.y-labels {
    text-anchor: end;
  }

  .labels {
    font-size: 13px;
  }

  .data {
    fill: red;
    stroke-width: 1;
  }
}
