* {
  padding: 0;
  margin: 0;
  border: 0;
}

body {
  font: 20px;
  font-family: Helvetica;
  line-height: 1.8;
  letter-spacing: 1px;
}

.navbar {
  border-radius: 0;
}

nav>li>a {
  color: #fff;
  text-transform: uppercase;
}

.selected {
  border-bottom: 2px solid yellow;
}

.check-in {
  background-color: grey;
  height: 200px;
}

.chart {
  margin-top: 15rem;
}

.graph {
  height: 500px;
  width: 800px;
}

.graph .grid {
  stroke: #ccc;
  stroke-dasharray: 0;
  stroke-width: 1;
}

.graph .labels.x-labels {
  text-anchor: middle;
}

.graph .labels.y-labels {
  text-anchor: end;
}

.labels {
  font-size: 13px;
}

.label-title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  fill: black;
}

.data {
  fill: red;
  stroke-width: 1;
}
